# Admin devs will be put on all pull request to be reviewed.
/*                   @hydroponics-system/admin-dev

# Require backend dev approval for anything in the src folder, except for any resouce files.
/src/               @hydroponics-system/backend-dev
/resources/

# Any SQL changes or elsql changes require a data dev approval
*.sql               @hydroponics-system/data-dev
*.elsql             @hydroponics-system/data-dev

# Require devops approval for any files dealing with the github actions or properties files.
*.yml               @hydroponics-system/devops-dev
*.properties        @hydroponics-system/devops-dev
